/* main.css 或全局样式文件 */
#nprogress .bar {
  height: 5px !important;
  background: linear-gradient(90deg, #ff82a9, #ffbf72) !important;
}

#nprogress .peg {
  box-shadow: 0 0 8px #ffb6c1, 0 0 5px #ff82a9 !important;
}

#nprogress .spinner {
  display: none; /* 不显示小圆圈 */
}